{# Template for creating new Factory templates #}
{# 
  This is a meta-template for generating new templates.
  
  Variables:
    - TEMPLATE_NAME: Name of the template
    - TEMPLATE_DESCRIPTION: What the template generates
    - VARIABLES: List of placeholder variables used
    - FILE_EXTENSION: Output file extension
#}

{# ===== TEMPLATE METADATA ===== #}
{# Template: {{TEMPLATE_NAME}} #}
{# Description: {{TEMPLATE_DESCRIPTION}} #}
{# Extension: {{FILE_EXTENSION}} #}

{# ===== VARIABLES USED ===== #}
{# 
{{VARIABLES_DOCUMENTATION}}
#}

{# ===== TEMPLATE CONTENT ===== #}
{{TEMPLATE_CONTENT}}
