{
  "xsappname": "${XSAPPNAME}",
  "tenant-mode": "${TENANT_MODE:dedicated}",
  "description": "${PROJECT_DESCRIPTION}",
  "scopes": [
    {
      "name": "$XSAPPNAME.${SCOPE_NAME}",
      "description": "${SCOPE_DESCRIPTION}",
      "grant-as-authority-to-apps": [
        "$ACCEPT_GRANTED_APPS"
      ]
    }
  ],
  "attributes": [
    {
      "name": "${ATTRIBUTE_NAME}",
      "description": "${ATTRIBUTE_DESCRIPTION}",
      "valueType": "string"
    }
  ],
  "role-templates": [
    {
      "name": "${ROLE_TEMPLATE_NAME}",
      "description": "${ROLE_TEMPLATE_DESCRIPTION}",
      "scope-references": [
        "$XSAPPNAME.${SCOPE_NAME}"
      ],
      "attribute-references": [
        "${ATTRIBUTE_NAME}"
      ]
    }
  ],
  "role-collections": [
    {
      "name": "${ROLE_COLLECTION_NAME}",
      "description": "${ROLE_COLLECTION_DESCRIPTION}",
      "role-template-references": [
        "$XSAPPNAME.${ROLE_TEMPLATE_NAME}"
      ]
    }
  ],
  "oauth2-configuration": {
    "redirect-uris": [
      "${REDIRECT_URI}"
    ],
    "system-attributes": [
      "xs.system.attributes.rolecollections",
      "xs.system.attributes.userid"
    ],
    "token-validity": ${TOKEN_VALIDITY:3600}
  }
}
