"! <p class="shorttext synchronized">Interface View with Associations</p>
"! CDS interface view for ${ENTITY_NAME} with associations to related entities
"! @author ${AUTHOR}
"! @date ${DATE}
"! @version 1.0
"!
"! Example usage:
"!   Replace ${ENTITY_NAME} with your interface view name (e.g., ZI_Travel)
"!   Replace ${BASE_ENTITY} with your base entity (e.g., ZI_TravelRoot)
"!   Add associations to related entities as needed
"!
@EndUserText.label: '${ENTITY_DESCRIPTION}'
@AccessControl.authorizationCheck: #CHECK
@Metadata.allowExtensions: true
define view entity ${ENTITY_NAME}
  as select from ${BASE_ENTITY}
{
  // Key fields
  key ${KEY_FIELD_1},
  key ${KEY_FIELD_2},
  
  // Business fields
  ${BUSINESS_FIELD_1},
  ${BUSINESS_FIELD_2},
  ${BUSINESS_FIELD_3},
  
  // Audit fields
  created_at,
  created_by,
  last_changed_at,
  last_changed_by,
  local_last_changed_at,
  etag,
  
  // Associations
  _${ASSOCIATION_NAME_1} : association [0..*] to ${TARGET_ENTITY_1} on ${CONDITION_1} = ${TARGET_KEY_1},
  _${ASSOCIATION_NAME_2} : association [0..1] to ${TARGET_ENTITY_2} on ${CONDITION_2} = ${TARGET_KEY_2},
  
  // Composition associations
  _${COMPOSITION_NAME} : composition [0..*] of ${CHILD_ENTITY} on ${CONDITION_3} = ${CHILD_KEY},
  
}
