{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "Knowledge Manifest",
  "description": "Registry of all knowledge files in this project",
  "version": "1.0.0",
  "project": "{PROJECT_NAME}",
  "created": "{CREATED_DATE}",
  "updated": "{UPDATED_DATE}",
  "statistics": {
    "total_files": 0,
    "categories": {}
  },
  "files": {},
  "evolution": {
    "mode": "team_managed",
    "description": "Knowledge is managed by the team through chat commands and retrospectives",
    "commands": [
      "check knowledge status",
      "extend knowledge for [topic]",
      "add knowledge about [subject]",
      "update our knowledge about [topic]"
    ]
  },
  "change_history": []
}
