"! <p class="shorttext synchronized">Behavior Definition with Authorization</p>
"! Behavior definition for ${ENTITY_NAME} with authorization control
"! @author ${AUTHOR}
"! @date ${DATE}
"! @version 1.0
"!
"! Example usage:
"!   Replace ${ENTITY_NAME} with your entity name (e.g., ZC_Travel)
"!   Replace ${ALIAS} with a short alias (e.g., Travel)
"!   Authorization controls access at instance and field level
"!
managed implementation in class ${BEHAVIOR_IMPLEMENTATION_CLASS} unique;
strict;

define behavior for ${ENTITY_NAME} alias ${ALIAS}
persistent table ${TABLE_NAME}
lock master
authorization master ( instance )
etag master ${ETAG_FIELD}
{
  // Standard CRUD operations
  create;
  update;
  delete;
  
  // Field control
  field ( readonly ) ${READONLY_FIELD};
  field ( mandatory ) ${MANDATORY_FIELD};
  
  // Field-level authorization
  field ( features: instance ) ${AUTHORIZED_FIELD_1};
  field ( features: instance ) ${AUTHORIZED_FIELD_2};
  
  // Standard operations
  action ( features: instance ) acceptTravel result ${RESULT_ENTITY};
  action ( features: instance ) rejectTravel result ${RESULT_ENTITY};
  
  // Association
  association _${ASSOCIATION_NAME} { }
  
  // Internal table for authorization
  internal table ${INTERNAL_TABLE_NAME};
}

determination save ${DETERMINATION_NAME} on save
{
  field ${FIELD_NAME};
}

determination action ${ACTION_DETERMINATION_NAME} on modify
{
  create;
  update;
  delete;
}
