{
  "mcpServers": {
    "atlassian-local": {
      "command": "node",
      "args": [
        "${MCP_ATLASSIAN_LOCAL_PATH}/dist/index.js"
      ],
      "env": {
        "ATLASSIAN_API_TOKEN": "${ATLASSIAN_API_TOKEN}",
        "ATLASSIAN_DOMAIN": "${ATLASSIAN_DOMAIN}",
        "ATLASSIAN_EMAIL": "${ATLASSIAN_EMAIL}",
        "ATLASSIAN_BASE_URL": "${ATLASSIAN_BASE_URL}"
      }
    }
  }
}
