"! <p class="shorttext synchronized">${INTERFACE_DESCRIPTION}</p>
"! Interface definition for ${PURPOSE}
"! @author ${AUTHOR}
"! @date ${DATE}
"! @version 1.0
"!
"! Purpose: ${PURPOSE}
"!
"! Example usage:
"!   CLASS zcl_implementation DEFINITION PUBLIC FINAL.
"!     PUBLIC SECTION.
"!       INTERFACES ${INTERFACE_NAME}.
"!   ENDCLASS.
"!
INTERFACE ${INTERFACE_NAME} PUBLIC.
  
  "! Method: ${METHOD_DESCRIPTION}
  "! @parameter ${PARAMETER_NAME} | Input parameter description
  "! @parameter result | Return value description
  "! @raising ${EXCEPTION_CLASS_NAME} | Exception description
  METHODS ${METHOD_NAME}
    IMPORTING
      ${PARAMETER_NAME} TYPE ${PARAMETER_TYPE}
    RETURNING
      VALUE(result) TYPE ${RETURN_TYPE}
    RAISING
      ${EXCEPTION_CLASS_NAME}.
      
  "! Method: ${SECOND_METHOD_DESCRIPTION}
  "! @parameter ${SECOND_PARAMETER_NAME} | Input parameter description
  "! @parameter result | Export parameter description
  METHODS ${SECOND_METHOD_NAME}
    IMPORTING
      ${SECOND_PARAMETER_NAME} TYPE ${SECOND_PARAMETER_TYPE}
    EXPORTING
      result TYPE ${EXPORT_TYPE}.
      
  "! Method: ${THIRD_METHOD_DESCRIPTION}
  "! @parameter ${THIRD_PARAMETER_NAME} | Input parameter description
  "! @parameter ${CHANGING_PARAMETER_NAME} | Changing parameter description
  METHODS ${THIRD_METHOD_NAME}
    IMPORTING
      ${THIRD_PARAMETER_NAME} TYPE ${THIRD_PARAMETER_TYPE}
    CHANGING
      ${CHANGING_PARAMETER_NAME} TYPE ${CHANGING_PARAMETER_TYPE}.
      
  "! Constants
  CONSTANTS:
    ${CONSTANT_NAME} TYPE ${CONSTANT_TYPE} VALUE ${CONSTANT_VALUE}.
    
  "! Types
  TYPES:
    ${TYPE_NAME} TYPE ${TYPE_DEFINITION},
    ${TABLE_TYPE_NAME} TYPE STANDARD TABLE OF ${TYPE_NAME} WITH DEFAULT KEY.
    
ENDINTERFACE.
