namespace {{NAMESPACE}}.Domain;

/// <summary>
/// {{CLASS_NAME}} - Value Object
/// 
/// Purpose: {{VALUE_OBJECT_PURPOSE}}
/// Author: {{AUTHOR}}
/// Created: {{DATE}}
/// 
/// Represents a value object in the domain layer.
/// Value objects are immutable and compared by value, not identity.
/// </summary>
public record {{CLASS_NAME}}
{
    /// <summary>
    /// Gets the first value component.
    /// </summary>
    public string Value1 { get; init; }

    /// <summary>
    /// Gets the second value component.
    /// </summary>
    public string Value2 { get; init; }

    // TODO: Add other value components

    /// <summary>
    /// Initializes a new instance of {{CLASS_NAME}}.
    /// </summary>
    /// <param name="value1">First value component.</param>
    /// <param name="value2">Second value component.</param>
    /// <exception cref="ArgumentException">Thrown when validation fails.</exception>
    public {{CLASS_NAME}}(string value1, string value2)
    {
        Validate(value1, value2);

        Value1 = value1;
        Value2 = value2;
    }

    /// <summary>
    /// Validates the value object components.
    /// </summary>
    /// <param name="value1">First value component.</param>
    /// <param name="value2">Second value component.</param>
    /// <exception cref="ArgumentException">Thrown when validation fails.</exception>
    private static void Validate(string value1, string value2)
    {
        if (string.IsNullOrWhiteSpace(value1))
        {
            throw new ArgumentException("Value1 cannot be null or empty", nameof(value1));
        }

        if (string.IsNullOrWhiteSpace(value2))
        {
            throw new ArgumentException("Value2 cannot be null or empty", nameof(value2));
        }

        // TODO: Add additional validation rules
    }

    /// <summary>
    /// Creates a new instance with updated values.
    /// </summary>
    /// <param name="value1">New first value component.</param>
    /// <param name="value2">New second value component.</param>
    /// <returns>A new {{CLASS_NAME}} instance.</returns>
    public {{CLASS_NAME}} With(string? value1 = null, string? value2 = null)
    {
        return this with
        {
            Value1 = value1 ?? Value1,
            Value2 = value2 ?? Value2
        };
    }

    /// <summary>
    /// Returns a string representation of the value object.
    /// </summary>
    /// <returns>String representation.</returns>
    public override string ToString()
    {
        return $"{Value1}-{Value2}";
    }
}
